<div class="jumbotron center">

	<h1>Welcome to my app!</h1>

	<%= link_to new_user_registration_path, class: "btn btn-primary btn-lg" do %>
		<span class="glyphicon glyphicon-hand-right"></span>  Sign up
	<% end %>

	<%= link_to new_user_session_path, class: "btn btn-default btn-lg" do %>
		<span class="glyphicon glyphicon-sign-in"></span>  Log in
	<% end %>

</div>