<div class="jumbotron center">
	<h1>Contacts</h1>

	<p>I am Anton Malkov. A serial entrepreneur, passionate traveller, avid yachtsman and currently re-learning software developer.</p>

	<p>My Email: <a href="mailto:anton.malkov@gmail.com">anton.malkov@gmail.com</a></p>

	<p>My phone: +34 722 450 504</p>

	<p>Let's keep in touch!</p>

</div>